@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --maincolor: ;
}


body{
     font-family:"Poppins" , sans-serif;
}

section{
    padding-block: 7rem;
}


.navbardiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 8rem;
    padding-top: 2rem;  
}

.navbardiv h2{
    font-size: 2rem;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    list-style: none;
    font-size: 1.6rem;
    
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.navbardiv button{
    padding: 1rem 2.5rem;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.bg{
    background-image: url(./images/5.png);
    height: 85vh;
    color: white;
    text-align: center;
    padding-top: 15rem;
    font-size: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.H{
    padding-inline: 8rem;
    font-size: 4rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 8rem;
    padding-top: 3rem;
}

.card img{
    width: 400px;
    height: 500px;
}

.card h3{
    font-size: 1.6rem;
}

.Shop{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(180, 178, 173, 0.4);
    padding-top: 3rem;
    flex-wrap: wrap;
}

.img{
    padding-right: 3rem;
}

.shop{
    display: flex;
    padding-inline: 8rem;
}

.aboutshop{
    padding-top: 10rem;
}

.aboutshop h4{
    font-size: 2rem;
    font-weight: 400;
}

.aboutshop h3{
    font-size: 2.5rem;
}

.aboutshop button{
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    padding-inline: 8rem;
    flex-wrap: wrap;
}

.sub h1{
    font-size: 7rem;
}

.email p{
    font-size: 15px;
    padding-right: 30rem;
    padding-bottom: 5rem;
    font-weight: 400;
    position: relative;
}

.email p::after{
    content: "";
    position: absolute;
    bottom: 38px;
    left: -10px;
    background-color:black;
    height: 2px;
    width: 50rem;
}


.b{
    margin-bottom: 35px;
}

.b button{
    /* padding-block: 1rem; */
    padding-inline: 1.5rem;
    cursor: pointer;

}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding-block: 5rem;
    flex-wrap: wrap;
}




@media screen and (max-width:900px) {
    .nav{
        display: none;
    }

}

@media screen and (max-width:500px) {
    .nav{
        align-items: center;
    }

    .show img{
    width: 250px;
    }

.bg h1{
    font-size: 5rem;
}

.i p{
    padding-bottom: 4rem;
}

.H{
    text-align: center;
    justify-content: center;
}

.b{
    padding-top: 2rem;
}





    
}
